
.image, .buttons, .recipeImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    margin-top: 1px;
}

.buttonOpenCamera, .buttonUpload, .createRecipe, .buttonTakePicture{
    color: white;
    background-color: #E47F21;
    font-weight: bolder;
    border: none;
    
    border-radius: 10px;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.4));
    font-size: larger;
    cursor: pointer;
    
}

.buttonOpenCamera, .buttonUpload, .createRecipe{
    padding: 15px;
    margin: 10px;
}

.buttonOpenCamera, .buttonUpload{
    width: 200px;
}

.recipeImage{
    width: 213px;
    height: 180px;
    margin-bottom: 10px;
} 

.buttonTakePicture{
    padding: 10px;
    margin-top: 20px;
}

.takePicture{
    width: 50px;
    height: 40px;
}

.containerPageImages{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.container1{
    flex: 1;
    padding: 2%;
    align-self: center;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

.container2{
    flex: 1;
    padding: 2%;
    align-self: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.createRecipe{
    width: 236px;
    height: 244px;
    margin: 0 auto; 
    text-align: center; 
}


.defaultImage{
    height: auto;
    max-width: 100%;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.4));
}

@media (min-width: 768px) {
    .container1 {
        width: 50%; 
    }
    
    .container2 {
        width: 50%;
    }
}

a {
    text-decoration: none; 
    padding: 10px 20px; 
    color: white; 
    border-radius: 5px; 
    text-align: center; 
  }

