.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; 
}

.container_izquierdo, .container_centro, .container_derecho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; 
    margin-bottom: 50px;
    margin-left: 10px; 
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .container_izquierdo, .container_centro, .container_derecho {
        margin-left: 0;
        margin-right: 0;
    }
}

.card-title {
    color: #974C06;
    font-weight: bold; 
    text-align: center;
}


.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.recipe-title {
    font-size: 2vw; 
    color: #974C06;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .recipe-title {
        font-size: 4vw; 
    }
}

.rowTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.list-unstyled {
    list-style-type: none; 
    padding-left: 0; 
}
