.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura como desees */
}

.container_izquierdo, .container_centro, .container_derecho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Altura deseada para los contenedores */
    margin-bottom: 20px;
    margin-left: 10px; /* Márgen izquierdo para separar los contenedores */
    margin-right: 10px; /* Márgen derecho para separar los contenedores */
}

@media (min-width: 768px) {
    .container_izquierdo, .container_centro, .container_derecho {
        margin-left: 20px; /* Márgen izquierdo para separar los contenedores en dispositivos medianos y grandes */
        margin-right: 20px; /* Márgen derecho para separar los contenedores en dispositivos medianos y grandes */
    }
}

.card-title {
    color: #974C06;
    font-weight: bold; 
    text-align: center;
}


.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}
